header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    font-size: 50px;
    font-weight: bold;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    background-image: url('img/moon-view.jpg');
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 650px;
    padding: 20px;
}

/* ------ Quiz Questions ------- */

.question {
    font-weight: bold;
    text-shadow: 2px 2px goldenrod;
}

#quiz {
    font-size: 30px;
    padding-left: 100px;
    margin-top: 50px;
}

/* ------ Quiz Answer Choices ------ */

label {
    font-size: 20px;
    padding: 3px;
    align-items: center;
}

.answers label {
    display: block;
}

/* ------ Quiz Button ------ */

button {
    color: white;
    background-color: rgb(2, 2, 54);
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    padding: 10px;
    margin-left: 190px;
    margin-top: 30px;
}

button:hover {
    background-color: grey;
    transition: all 0.5s ease;
}

/* ------ Quiz Result Line ------ */

#results {
    font-weight: bold;
    padding: 10px;
    margin-left: 155px;
    font-size: 25px;
    color: goldenrod;
    text-shadow: 2px 2px gray;
}

/* ------ Countdown ------ */

.cd-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px black;
}

.date {
    margin: 0;
    font-size: 50px;
    color: goldenrod;
}

.cd-heading {
    font-size: 45px;
    margin: 0;
}

#countdown {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 50px;
    color: goldenrod;
}

