body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url('img/moon-view.jpg');
}

button {
    color: white;
    background-color: rgb(2, 2, 54);
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    padding: 10px;
    margin-left: 190px;
    margin-top: 30px;
}

button:hover {
    background-color: grey;
    transition: all 0.5s ease;
}

label {
    font-size: 16px;
    padding: 3px;
    align-items: center;
}

.answers label {
    display: block;
}

.question {
    font-weight: bold;
}

#quiz {
    font-size: 20px;
    padding-left: 100px;
    margin-top: 50px;
}

#results {
    font-weight: bold;
    padding: 10px;
    margin-left: 150px;
}

#countdown {
    display: flex;
    flex-direction: column;
    margin-left: 350px;
}

.cd {
    margin-left: 200px;
}
